In [1]:
from datetime import *
from dash import *
import pandas as pd
import yfinance as yf
import numpy as np

In [2]:
start = "2017-01-01"
end = "2021-01-01"
size = 1007
short_term = 3
long_term_one = 30
long_term_two = 45
long_term_three = 60
default_nan = np.nan
day = 1
week = 5
month = 20
win_ratio = 1.05
loss_ratio = 0.95

In [3]:
def getTickers():
    ticker_files = pd.read_csv("../pre_loaded_files/tickers.csv")
    return ticker_files

In [4]:
ticker_names = getTickers()
ticker_names = ticker_names.drop(columns=['Company Name', 'Market Cap'])

In [5]:
ticker_names

     Symbol                          Industry
0         A    Life Sciences Tools & Services
1        AA                   Metals & Mining
2       AAC                   Shell Companies
3      AACG     Diversified Consumer Services
4      AADI                     Biotechnology
...     ...                               ...
5956    ZWS         Utilities-Regulated Water
5957     ZY                         Chemicals
5958   ZYME                     Biotechnology
5959   ZYNE                   Pharmaceuticals
5960   ZYXI  Health Care Equipment & Supplies

[5961 rows x 2 columns]

In [6]:
symbols = ticker_names['Symbol'].to_list()

In [7]:
for symbol in symbols:
    try:
        file = pd.read_csv("../tickers_history/" + symbol + ".csv")
    except:
        ticker_names.drop(ticker_names[ticker_names['Symbol'] == symbol].index, inplace = True)

In [9]:
ticker_names = ticker_names.reset_index(drop=True)

In [12]:
ticker_names.to_csv("../pre_loaded_files/tickers_availables.csv")

In [13]:
# for i in range(0, len(ticker_names)):
#     ticker_symbol = ticker_names.iloc[i]['Symbol']
#     print(i)
#     try:      
#         ticker = yf.Ticker(ticker_symbol)
#         ticker_history = ticker.history(start=start, end=end)
#         ticker_industry = ticker.info['industry']
#         if len(ticker_history) == size:
#             success.append(i)
#             ticker_available.loc[len(ticker_available.index)] = [ticker_symbol, ticker_industry]
#             ticker_history = ticker_history.drop(columns = ['Dividends','Stock Splits'])
#             ticker_history["Time"] = ticker_history.index.view(np.int64) / 1000000000
#             ticker_history = ticker_history.astype({"Time": int})
#             ticker_history = ticker_history.round({'Open': 2, 'Close': 2, 'High': 2, 'Low': 2})
#             ticker_history = ticker_history.set_index("Time", append=True)
#             ticker_history.to_csv("../tickers_history/" + ticker_symbol + ".csv")
#         else:
#             fail.append(i)
#     except:
#         wrongList.append(i)
#         wrongName.append(ticker_symbol)

Empty DataFrame
Columns: [Symbol, Industry]
Index: []