In [2]:
import pandas as pd
import yfinance as yf
import numpy as np

start = "2019-01-01"
end = "2021-01-01"
short_term = 3
long_term_one = 30
long_term_two = 45
long_term_three = 60
default_nan = np.nan
day = 1
week = 5
month = 20

# grab the stock name list
ticker_names = pd.read_csv("../tickers.csv") # some method to generate the list

In [8]:
ticker_names.iloc[0]['Symbol']

'A'

In [3]:
ticker_names

,Symbol,Company Name,Industry,Market Cap
0,A,Agilent Technologies,Life Sciences Tools & Services,46.75B
1,AA,Alcoa,Metals & Mining,10.45B
2,AAC,Ares Acquisition,Shell Companies,1.22B
3,AACG,ATA Creativity Global,Diversified Consumer Services,81.78M
4,AADI,Aadi Bioscience,Biotechnology,549.15M
...,...,...,...,...
5956,ZWS,Zurn Water Solutions,Utilities-Regulated Water,4.39B
5957,ZY,Zymergen,Chemicals,1.35B
5958,ZYME,Zymeworks,Biotechnology,1.19B
5959,ZYNE,Zynerba Pharmaceuticals,Pharmaceuticals,167.48M
5960,ZYXI,Zynex,Health Care Equipment & Supplies,419.21M

In [1]:
def getMovingAve(data, period):
    rtn = []
    for i in range(0, len(data)):
        if i < period - 1:
            rtn.append(default_nan)
        else:
            sum = 0.0
            for j in range(i - period + 1, i + 1):
                sum += data[j]
            rtn.append(sum/period)
    return rtn

In [4]:
def getDer(data, period):
    rtn = []
    for i in range(0, len(data)):
        if i < period:
            rtn.append(default_nan)
        elif not np.isnan(data[i]) and not np.isnan(data[i - period]) : 
            rtn.append((data[i] - data[i - period])/period)
        else:
            rtn.append(default_nan)
    return rtn

In [7]:
# for temp use
ticker_info = []
ticker_names.append("X")
for i in range(len(ticker_names)):
    ticker = yf.Ticker(ticker_names[i])
    hist = ticker.history(start=start, end=end)
    hist = hist.drop(columns=['Dividends', 'Stock Splits'])
    hist['Ave Short'] = getMovingAve(hist['Close'], short_term)
    hist['Ave Long 1'] = getMovingAve(hist['Close'], long_term_one)
    hist['Ave Long 2'] = getMovingAve(hist['Close'], long_term_two)
    hist['Ave Long 3'] = getMovingAve(hist['Close'], long_term_three)
    hist['Der Daily Short'] = getDer(hist['Ave Short'], day)
    hist['Der Daily Long 1'] = getDer(hist['Ave Long 1'], day)
    hist['Der Daily Long 2'] = getDer(hist['Ave Long 2'], day)
    hist['Der Daily Long 3'] = getDer(hist['Ave Long 3'], day)
    hist['Der weekly Short'] = getDer(hist['Ave Short'], week)
    hist['Der weekly Long 1'] = getDer(hist['Ave Long 1'], week)
    hist['Der weekly Long 2'] = getDer(hist['Ave Long 2'], week)
    hist['Der weekly Long 3'] = getDer(hist['Ave Long 3'], week)
    
    ticker_info.append(hist)

In [46]:
print(ticker_info[0].iloc[1][1])

18.55589788387246